# A senha deve ter pelo menos 8 caracteres e conter caracteres de três dos seguintes quatro conjuntos: letras maiúsculas, letras minúsculas, dígitos base 10 e símbolos.
# CONFIGURAÇÃO DO MSSQL
MSSQL_PASSWORD=exemploSenha1234

# CONFIGURAÇÃO DO EF CORE
# A senha deve ser a mesma usada em `MSSQL_PASSWORD`.
MSSQL_CONNECTION_STRING='Server=mssql_host; Database=CollabStoriesDB; MultipleActiveResultSets=True;User ID=sa; Password=exemploSenha1234; Encrypt=False;'