@model MvcApp.ViewModels.Fornecedor.CriarFornecedorViewModel;
@{
    ViewData["Title"] = "Criar Fornecedor";
}

<h1>Criar Fornecedor</h1>

<form asp-action="Criar" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" placeholder="Ex: Nova Eletrônicos" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cnpj"></label>
        <input asp-for="Cnpj" class="form-control" placeholder="Ex: 12345678000199" />
        <span asp-validation-for="Cnpj" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cep"></label>
        <input asp-for="Cep" class="form-control" placeholder="Ex: 12345678" />
        <span asp-validation-for="Cep" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <select asp-for="SegmentoId" class="form-select">
            @foreach (var segmento in Model.Segmentos ?? [])
            {
                <option value="@segmento.Id">@segmento.Nome</option>
            }
        </select>
        <span asp-validation-for="SegmentoId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FotoPerfil" class="form-label">Foto do fornecedor</label>
        <input asp-for="FotoPerfil" 
               type="file" 
               accept="image/jpeg, image/png" 
               class="form-control" />
        <span asp-validation-for="FotoPerfil" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Criar Fornecedor</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}